/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #3eb0f0;
  overflow: hidden;
  min-height: 80px;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon{
    width: 200px;
    height: 200px;
    filter: invert(100%);
}

.carousel-control-prev .carousel-control-prev-icon:before,
.carousel-control-next .carousel-control-next-icon:before{
    font-size: 200px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Helvetica";
  font-weight: bold;
  transform: translate(0, 5%);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #77c4f0;
  color: black;
}

p.SentiTweets {
  color: #f2f2f2;
  font-size: 50px;
  font-family: "Helvetica";
  font-weight: bold;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered p {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered p {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
footer {
   position:absolute;
   bottom:0px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #77c4f0;
   color: white;
   text-align: center;
   min-height: 50px;
   display: flex;
}

body {
   margin-bottom: 50px;
}

footer a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 180px;
  text-decoration: none;
  font-size: 15px;
  font-family: "Helvetica";
  position: relative;
  transform: translate(0%, 0%);
}
