<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src=static/js/wordcloud2.js></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
<!-- Top navigation -->
<div class="topnav">
    <!-- Centered link -->
    <div class="topnav-centered">
        <p href="#home" class="SentiTweets">SentiTweets</p>
    </div>
   <!-- Left-aligned links (default) -->
   <a href="/"> Home</a>
</div>
&nbsp;
<div class="col-md-12">
    <div class="card">
        <h3 class="card-header h4">FAQ</h3>
         <div class="card-block">
                <div class=TRS_Editor>
                        <strong><p align="justify">Question 1: What is SentiTweet? </p></strong>
                        <p align="justify">Ansewer: SentiTweet is an online platform that provides social media analysis, including search volume, sentiment analysis and word cloud visualization. And the most important part is that it is free!</p>
                        &nbsp;
                        <strong><p align="justify">Question 2: What languages does SentiTweet support? </p></strong>
                        <p align="justify">Ansewer: Currently SentiTweet supports contents in English.</p>
                        &nbsp;
                        <strong><p align="justify">Question 3: What are the data sources SentiTweet use?</p></strong>
                        <p align="justify">Ansewer: SentiTweet uses Twitter data sets at the moment and we plan to include other data sources, such as Facebook and Instagram, etc. in the future. </p>
                        &nbsp;
                        <strong><p align="justify">Question 4: How far back can I search for?</p></strong>
                        <p align="justify">Ansewer: SentiTweet allows users to search as far back as November, 2017.  </p>
                        &nbsp;
                        <strong><p align="justify">Question 5: Do I need to pay for the service? </p></strong>
                        <p align="justify">Ansewer: No. Users can use SentiTweet queries for free! </p>
                        &nbsp;
                        <strong><p align="justify">Question 6: Do I need to create an account? </p></strong>
                        <p align="justify">Ansewer: No. Users do not need to create an account to use our service. In other words, we do not collect nor keep your data or search histories.  </p>
                        &nbsp;
                        <strong><p align="justify">Question 7: Do I need anything special to use it?  </p></strong>
                        <p align="justify">Ansewer: All you need is an internet connection or a mobile phone.  </p>
                        &nbsp;
                        <strong><p align="justify">Question 8: How to search?  </p></strong>
                        <p align="justify">Ansewer: You can query a keyword at a time.  </p>
                        <p align="justify">Type a keyword, such as “dog” or “love” into the search field, then hit Enter/return; click the search button. Tweets that contain your keyword are pulled from data sets and visualized in the SentiTweet's carousel.   </p>
                        &nbsp;
                        <strong><p align="justify">Question 9: How to conduct an advanced search?   </p></strong>
                        <p align="justify">Ansewer: Click “Advanced search” on the home page and additional filters to finetuning your search will show up. Additional filters are starting date and end date for the search query, which data source you would like to query from (i.e. Twitter or Facebook or Instagram, etc.) and the user name of a specific user that you follow closely. For example, @evleaks for tech news or @ladygaga for music.  </p>
                        &nbsp;
                        <strong><p align="justify">Question 10: What does the sentiment analysis mean?   </p></strong>
                        <p align="justify">Ansewer: Each searched keyword is presented as a bar positioned by sentiment, an estimate of the emotion contained in the post’s text. Negative emotions are drawn in red bar below 0, and positive emotions are drawn in blue bar above zero.    </p>
                        &nbsp;
                        <strong><p align="justify">Question 11: What does the traffic volume mean?  </p></strong>
                        <p align="justify">Ansewer: Searched keywords are drawn in a line chart to show the number of tweets posted at different times.    </p>
                        &nbsp;
                        <strong><p align="justify">Question 12: What does the word cloud mean?    </p></strong>
                        <p align="justify">Ansewer: Common hashtags that are associated with the search keyword are presented in the word cloud form. Words that are more frequent are larger. In the cases of insufficient hashtags to form a word cloud, a default image will be presented.   </p>
                        &nbsp;
                        <strong><p align="justify">Not find your question?  </p></strong>
                        <strong><p align="justify">Please contact us: agile.adventures2019@gmail.com </p></strong>
                    </div>
        </div>                                     
    </div>
</div>
                                    
<!-- footer 
<footer style="position:absolute; bottom:0;">
    <a> Report a problem <br/> Give suggestions</a>
    <a> Terms <br/> Privacy</a>
    <a> Help </a>
    <a> Contact us: <br/> agile.adventures2019@gmail.com </a>
</footer>
 -->

</body>
</html>
