<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<!-- Top navigation -->
<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
    <p href="#home" class="SentiTweets">SentiTweets</p>
  </div>

  <!-- Left-aligned links (default) -->
  <a href="#news">< Home</a>

</div>


<div class="pt-4 container-fluid">
    <form action="" method="post" role="form" novalidate>
      {{ form.hidden_tag() }}
    <div class="form-group">
      <input type="text" class="form-control" id="name" name="search" placeholder="Enter words, phrases or hashtags"></div>
      <button type="submit" class="btn btn-success">Search</button>
  </form>
<h1>{{ title }}</h1>
<div class="container">

<canvas id="chart"></canvas>
<script>
  // bar chart data
  var chartData = {
    labels : [
      {% for item in labels %}
       "{{ item }}",
      {% endfor %}
],
    datasets : [{
      fillColor: "rgba(255,0,0,0.2)",
      strokeColor: "rgba(255,0,0,1)",
      pointColor: "rgba(255,0,0,1)",
      backgroundColor: "rgba(255,0,0,0.5)",
      label: "{{ title }}",
      data : [
        {% for item in values %}
           "{{ item }}",
          {% endfor %}
  ]
      }
    ]
  }

 // get bar chart canvas
 var mychart = document.getElementById("chart").getContext("2d");
   steps = 10
   max = 3
 // draw bar chart
 new Chart(mychart, {
   type: 'bar',
   data: chartData,
     options: {
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: -0.2,
                    suggestedMax: 0.2
                }
            }]
        }
    }
 });


</script>
</div>

</div>

  </body>
</html>
